@import "_vars";


/* CSS para Achicar de CAR */
.card-img-top{
    width: 100%;
    height: 200px;
    object-fit: contain;
  }
  /* CSS para ajustar imgenes Car de nosotros */
  .img-fluid.rounded-start{
  height: 100%;
  }

.fondo{
    background-color: $secondary-color
    padding: 1cm;

  }

