@import "_vars";

form{
    width: 50%;
    border: solid 1px rgba(0, 0, 0, 0.17);
   
  
    display: flex;
    justify-content: center;
    ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 600px;
        width: 100%;
        padding: 16px;
        li{
            display: flex;
            flex-direction: column;  
            margin: 4px 0;
            width: 100%;  
            input{
                width: 100%;
                padding: 8px;
              }
          }
        }
  }
  
   
  #botonera{
    background-color: rgba(61, 47, 188, 0.712);
    ul li a{
        color: blanchedalmond;
        font-size: 16px;
        background-image: linear-gradient(currentColor, currentColor);
        background-position: 0% 100%;
        background-repeat: no-repeat;
        background-size: 0% 2px;
        transition: background-size .3s;
        &:hover{
            color: black;
              font-weight: 600;
          }
      }

  }
  
  /* Edicion del Formulario */
  section.form{
    background-color:$secondary-color;
    color: rgb(32, 30, 30);
    display: flex;
    justify-content: center;
   }
   .btn.btn-primary{
    background-color: blueviolet;
   }