//Coleres definción
$primary-color: rgba(41, 32, 215, 0.855);
$secondary-color: #7474d668;
$text-color: #333333;

//fuentes
$primary-font: 'roboto', sans-serif;
$secondary-font: 'Montserrat', sans-serif;
$base-font-size: 16px;
$titulo-siize: $base-font-size*2;
$base-line-height: 1.5;

// Espacios 
$base-spacing:16px;
$section-padding: $base-spacing*4;
$button-padding: $base-spacing*2;

//medidas
$container-width:100%;
$image-width:100%;
$video-height:10cm;

//otros
$opacity:0.8;
$transition-duration: 0.3s;

//Justificar contenido
$display-flex: flex;
$align-items-center: center;
$justify-content-center: center;
$flex-wrap: wrap;
$flex-direction-row: row;
$flex-grow-1: 1;
$text-align-center: center;

$table-border-color: #ddd;
$table-header-bg-color: #87CEFA;
$table-header-text-color: white;
$table-row-bg-color: #E0FFFF;

table {
    margin: 0 auto;
    padding: 20px;
    width: 100%;
    border-collapse: collapse;
    thead {
      tr {
        background-color:$secondary-color;
        color: $table-header-text-color;
        th {
          border: 1px solid $table-border-color;
          padding: 8px;
        }
      }
    }
    tbody {
      tr {
        background-color: $table-row-bg-color;
        td {
          border: 1px solid $table-border-color;
          padding: 8px;
        }
      }
    }
  }
  