@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

@import "_nav";
@import "_header";
@import "_vars";
@import "_box-4";
@import "_box-1";
@import "_box-2";
@import "_box-3";
@import "_footer";
@import "_form";
@import "_box-contacto";
@import "_mixin";

h1{
    font:$titulo-siize;
}



//  Defincion de margenes generales o principales para todas las secciones y parrafos */
  section{
       text-align: center;
       padding: 60px;
  }   

  section img{
   object-fit: cover;
   height: 10cm;
  }
   

   /* Justificar contenido y para centrar*/
   .justify-content-space{
    justify-content: space-between;
   }
   .justify-content-center{
    justify-content: center;
   }

   .text-center{
    text-align: center;
   }

// Estilos para pantallas pequeñas
@media (max-width: 600px) {
    body {
      font-size: 14px;
    }
    h1 {
      font-size: 24px;
    }
  }
  // Estilos para pantallas en orientación vertical
@media (orientation: portrait) {
    body {
      background-color: #f5f5f5;
    }
    h1 {
      margin-top: 20px;
    }
  }
  
  .accordion-button{
    background-color: $secondary-color;
  }
  .parrafo-1{
    @media (max-width: 600px) {
      width: 100%;
        }
  width: 50%;
  margin: auto;
  margin-bottom: 30px;
  }

.tabla-1{
  width: 50%;
  margin: auto;
}
.colordefondo{
  width: 100%;
  background-color: $secondary-color;
}

.boton-mas{
  padding: 10px 20px;
  background-color:$secondary-color;
  border: none;
  border-radius: 5px;

}

.pagina-error{
  width: 100vw;
  height: 100vh;
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}